//Customizations to the Bootstrap defaults go here
//Keeping this independent of the original less files should allow for easier updates when Bootstrapp changes

@import "bootstrap.less";

// icons path
// -------------------------

#maincontainer {
	margin-left: auto;
	margin-right: auto;
}

//Headers 
h1, h2, h3, h4, h5, h6 {
	color: #555555;
}

//Body text

p {
	color: #555555;
}

//Navbar customisation 

.navbar-inner {
  background-color: #888888; /* background color will be black for all browsers */
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}

.navbar .nav > li > a {
  color: #FFFFFF;
  text-decoration: none;
  text-shadow: none;
}

// Hover
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  background-color: #FFFFFF;
  color: #555555;
  text-decoration: none;
}

//HR customisation
hr {
	border-width: 5px;
	width: auto;
}

.contentWrapper {
	padding-top: 40px;
}

footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;
  padding-top:20px;
  background-color: #888888;
  a:link {color: white;}
  a:visited {color: #555555;}
  address {
  	color: white;
  	padding-left: 10px;
  }
} 

#content1 {
	padding-left: 9%;
	padding-right: 9%
	width: 100%;
}

#contribute {
	position: absolute;
	right: 0px;
}

#bottomphotos {
	padding-bottom: 175px;
}

#topLogos {
	text-align: center;
}

#content21 {
	padding-top: inherit;
	margin-left: auto;
	margin-right: auto;
	width: 80%
}

#contentphone {
	padding-top: 25%;
	margin-left: auto;
	margin-right: auto;
	width: 100%
}

section {
	padding: 0 12%;
	overflow: hidden;
}

section#home {
	height: 100%;
}

.footerlist {
	list-style-type: none;
	padding-left: 25%;
}