//Customizations to the Bootstrap defaults go here
//Keeping this independent of the original less files should allow for easier updates when Bootstrapp changes

@import "bootstrap.less";

// icons path
// -------------------------

html {
	overflow-x: hidden;
}

body { 
	padding-top: 20px;
	padding-bottom: 5px;
	overflow-x: hidden;
}

//Headers 

h2 {
	position: relative;
	background: #585858; 
	color: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 30px;   
	height: 42px;
}
h2:before, h2:after {
	content: "";
	position: absolute;
	background: #585858;  /* Match the background */
	top: 0;
	bottom: 0;
	width: 9999px;   /* some huge width */
	height: 42px;
} 
h2:before {
	right: 100%; 
}
h2:after {
   left: 100%;
}

h3 {
	color: #17AFE5;
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	font-size: 18px;   	
}

.h3lead {
	color: #00AEEF;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 18px;   
}

h4 {
	color: ##585858;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px; 
}

/*h2 {
	color: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 24px;
	padding-left: 2%;
	background-color: #4D4D4D;
	width: 100%;
}*/


//Body text

p {
	color: ##585858;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	
}

//Navbar customisation 

.navbar-inner {
  background-color: #585858; 
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}

.navbar .nav > li > a {
  color: #FFFFFF;
  text-decoration: none;
  text-shadow: none;
}

// Hover
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  background-color: #00AEEF;
  color: #FFFFFF;
  text-decoration: none;
}

//HR customisation
hr {
	border-width: 5px;
	width: auto;
}

//scroll support
.contentWrapper {
	padding-top: 30px;
}

#maincontainer {
	padding-bottom: 200px;
}

//footer 

footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;
  padding-top:20px;
  background-color: #585858;
  a:link {color: white;}
  a:visited {color: white;}
  address {
  	color: white;
  	padding-left: 10px;
  }
} 

#content1 {
	display: block;
	width: 100%;
}

#contribute {
	position: absolute;
	right: 0px;
}

#bottomphotos {
	padding-bottom: 175px;
}

#topLogos {
	display: block;	
	padding-left: 2%;
}

#content21 {
	padding-top: inherit;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	padding-top: 40px;
}


#contentphone {
	padding-top: 25%;
	margin-left: auto;
	margin-right: auto;
	width: 100%
}

section {
	padding: 0 12%;
	overflow: hidden;
}

section#home {
	height: 100%;
}

.footerlist {
	list-style-type: none;
	padding-left: 25%;
}

//images 

.ready {
	margin-bottom: 0px;
	width: 300px;
	height: 305px;
	display:block;
	background:transparent url(/images/ready.png) center top no-repeat;
}

.ready:hover {
   background-image: url(/images/ready_hover.png);
}

#set {
	margin-bottom: 0px;
	width: 300px;
	height: 305px;
	display:block;
	background:transparent url(/images/set.png) center top no-repeat;
}

#set:hover {
   background-image: url(/images/set_hover.png);
}

#drop {
	margin-bottom: 0px;
	width: 300px;
	height: 305px;
	display:block;
	background:transparent url(/images/drop.png) center top no-repeat;
}

#drop:hover {
  background-image: url(/images/drop_hover.png);
}

#navbarlogo {
	display:block;
	width: 200px;
	height: 25px;
	background:transparent url(/images/rsdlogo_navbar.png) center top no-repeat;
}

#facebook {
	display:block;
	width: 25px;
	height: 25px;
	background:transparent url(/images/facebook.png) center top no-repeat;
}

#facebook:hover {
  background-image: url(/images/facebook_hover.png);
}

#twitter {
	display:block;
	width: 25px;
	height: 25px;
	background:transparent url(/images/twitter.png) center top no-repeat;
}

#twitter:hover {
  background-image: url(/images/twitter_hover.png);
}

#email {
	display:block;
	width: 25px;
	height: 25px;
	background:transparent url(/images/email.png) center top no-repeat;
}

#email:hover {
  background-image: url(/images/email_hover.png);
}

#countergraphic {
	position: relative;
	width: 100%;
	height: 100%;
	padding-top: 20px;
}

.drop1 {
	position: absolute;
	top: 3%;
	left: .5%;
	display:block;
	width: 280px;
	height: 300px;
	background:transparent url(/images/drop1.png) center top no-repeat;
}

.drop1:hover {
  background-image: url(/images/drop2.png);
}

.counterp {
	position: absolute;
	top: 50%;
	left: 88.5%; /*1035px*/
	width: 50px;
	color: #00AEEF;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 26px; 
}

.counterd {
	position: absolute;
	top: 50%;
	left: 33.8%;
	width: 50px;
	color: #00AEEF;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 26px; 
	
}

.countern {
	position: absolute;
	top: 50%;
	left: 58.5%;
	width: 50px;
	color: #00AEEF;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 26px; 
}

#dfpdxtext {
	margin-top: 45px;
}

#eastmantext {
	margin-top: 10px;
}

#irdtext {
	margin-top: 40px;
}

#htitext {
	margin-top: 60px;
}

#texttable {
	background: url(/images/TextTable.png);
}

.infographic {
	display: block;
	width: 100%;
	margin-left: 13%;
	margin-right: 13%;
}