<div class="container">
	<div class="row-fluid">
		<div class="span4"><h1>READY LOGO</h1></div>
		<div class="span4"><h1>SET LOGO</h1></div>
		<div class="span4"><h1>DROP LOGO</h1></div>
		<div class="span7"><b>Hydropack tagline</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut 					labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 								consequat.</div>
		<div class="span4"><a href="#"<h2>Click here to contribute</h2></a></div>
		<div class="span12"><iframe width="853" height="480" src="http://www.youtube.com/embed/8tQxa78cIwg" frameborder="0" allowfullscreen></iframe></div>
		<div class="span11">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
			aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor 			in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in			 culpa qui officia deserunt mollit anim id est laborum.</div>
		<div class="span3"><h1>PHOTO</h1></div>
		<div class="span3"><h1>PHOTO</h1></div>
		<div class="span3"><h1>PHOTO</h1></div>
	</div>
</div>