<!DOCTYPE HTML>
<html lang="en">
	<head>
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<script type="text/javascript">
		
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-35613283-1']);
		  _gaq.push(['_trackPageview']);
		
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		
		</script>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
		<meta name="google-site-verification" content="e6P4WL2J3RLuCjrKeoquap9p_RfGQnKWGnO1424t5Vk" />
		<title>Ready Set Drop | Hydration For A World In Need</title>
		<meta name="description" content="Ready Set Drop is a digital media campaign raising funds to acquire and distribute the HydroPack with a 				goal to make it a global tool for immediate intervention in disaster relief scenarios.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= css :bootstrap %>
	</head>
	<body>
	<header>
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand scroll" href="#content1" id="navbarlogo"></a>
						<ul class="nav">
							<li class="divider-vertical"></li>
							<li><a class="scroll" href="#countergraphic">Contribute</a></li>
							<li class="divider-vertical"></li>
							<li><a class="scroll" href="#content4">Prepare</a></li>
							<li class="divider-vertical"></li>
							<li><a class="scroll" href="#content5">Hydrate</a></li>
							<li class="divider-vertical"></li>
							<li><a class="scroll" href="#content2">The Cause</a></li>
							<li class="divider-vertical"></li>
							<li><a class="scroll" href="#content3">HydroPack</a></li>
							<li class="divider-vertical"></li>
							<li><a class="scroll" href="#content6">Follow the Drop</a></li>
							<li class="divider-vertical"></li>
							<li><a href="http://facebook.com/ReadySetDrop" id="facebook"></a></li>
							<li><a href="http://twitter.com/ReadySetDrop" id="twitter"></a></li>
							<li><a href="mailto:info@readysetdrop.com" id="email"></a></li>
						</ul>
					</div>
			</div>
		</div>
	</header>
	<%= yield %>
	<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
		<script language="javascript"type="text/javascript">function FG_4ccb04fb46c30_loadScript(){var fgScriptUrl='https://donate.firstgiving.com/dpa/static/js/site/fg_donation_opener.min.js';var script=document.createElement("script");script.type="text/javascript";if(script.readyState){script.onreadystatechange=function(){if(script.readyState=="loaded"||script.readyState=="complete"){script.onreadystatechange=null}}}else{script.onload=function(){}}script.src=fgScriptUrl;document.body.appendChild(script)}FG_4ccb04fb46c30_loadScript();</script></script>
	<footer class="footer">
    <div class="rowfluid">
	    <div class="span4">
				<address>
		    	<strong>Ready Set Drop brought to you by Design Forum/PDX</strong><br>
		    	1044 Northwest 9th Avenue<br>
		    	Portland, OR 97209<br>
		    </address>
		     
		    <address>
		    	<a href="mailto:info@readysetdrop.com">info@readysetdrop.com</a>
		    </address>
		  </div>
			<div class="span4">			
	    	<ul class="footerlist">
					<li><a class="scroll" href="#content1">Home</a></li>
					<li><a class="scroll" href="#countergraphic">Contribute</a></li>
					<li><a class="scroll" href="#content5">Hydrate</a></li>
					<li><a class="scroll" href="#content2">The Cause</a></li>
					<li><a class="scroll" href="#content3">The HydroPack</a></li>
					<li><a class="scroll" href="#content6">Follow the Drop</a></li>
					<li><a href="javascript:void(0)" id="2c37c8cc-6e29-11e1-837a-12313b003616.836c5e9e-1ec5-11e2-933b-12313b003cf1" 
								class="fg-donation-button-4ccb04fb46c30" onclick="FG_DONATE_BUTTON.openDonationWindow(this, 'https://donate.firstgiving.com'); 									return false;">Donate now
							</a>
				</li>
	    	</ul>
	    </div>
		</div>
	</footer>
		   <!-- Le javascript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

		<%= js :main %>
		<%= js :appscroll %>
	</body>
</html>