<!DOCTYPE HTML>
<html lang="en">
	<head>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
		<title>Ready Set Drop | Hydration for a world in need</title>
		<meta name="description" content="Ready Set Drop is raising money to stockpile and distribute a unique hydration product called the 							HydroPack">
  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= css :bootstrap %>
	</head>
	<body>
	<header>
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand scroll" href="#content1" id="navbarlogo"></a>
						<ul class="nav">
							<li><a class="scroll" href="#content2">About</a></li>
							<li><a class="scroll" href="#content3">The Hydropack</a></li>
							<li><a class="scroll" href="#content4">What If?</a></li>
							<li><a class="scroll" href="#content5">Follow the Drop</a></li>
							<li><a class="scroll" href="#content6">Partners</a></li>
							<li><a href="http://causes.com/ReadySetDrop">Contribute to the Cause</a></li>
						</ul>
						<ul class="nav pull-right">
							<li><a href="http://facebook.com/ReadySetDrop" id="facebook"></a></li>
							<li><a href="http://twitter.com/ReadySetDrop" id="twitter"></a></li>
							<li><a href="mailto:readysetdrop@designforumpdx.com" id="email"></a></li>
						</ul>
					</div>
			</div>
		</div>
	</header>
	<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
		<%= yield %>
	<footer class="footer">
    <div class="rowfluid">
	    <div class="span4">
				<address>
		    	<strong>Ready Set Drop brought to you by Design Forum/PDX</strong><br>
		    	1044 Northwest 9th Avenue<br>
		    	Portland, OR 97209<br>
		    </address>
		     
		    <address>
		    	<a href="mailto:readysetdrop@designforumpdx.com">readysetdrop@designforumpdx.com</a>
		    </address>
		  </div>
			<div class="span4">			
	    	<ul class="footerlist">
					<li><a class="scroll" href="#content1">Home</a></li>
					<li><a class="scroll" href="#content2">The Hydropack</a></li>
					<li><a class="scroll" href="#content3">What if?</a></li>
					<li><a class="scroll" href="#content4">Follow the Drop</a></li>
					<li><a class="scroll" href="#content5">About the Campaign</a></li>
					<li><a href="http://causes.com/ReadySetDrop">Donate now</a></li>
	    	</ul>
	    </div>
		</div>
	</footer>
		   <!-- Le javascript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

		<%= js :main %>
		<%= js :appscroll %>
	</body>
</html>